.app {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .btn {
    padding: 0.1rem;
    margin: 0 1rem;
    background-color: chartreuse;
  }
  body{
    background-color: darksalmon;
    margin: 0;
    padding: 0;
  }
  .card {
    width: 50%;
  }
  
  img {
    width: 100%;
    padding: 5rem;
  }
  
  h1 {
    text-align: center;
    font-size: 5rem;
  }
  
  p {
    font-size: 2rem;
    margin: 0 1rem;
  }
  
  .Nav {
    display: flex;
    justify-content: space-evenly;
  }
  
  .footer {
    display: flex;
    margin-top: 1rem;
  }
  
  
